body{
  font-family: 'Raleway', sans-serif;
}

.menu{
  margin-left: auto;
}


.portada{
	background-image: url("../images/bg-home.jpg");
  margin-left: auto;
  margin-right: auto;
  height: 580px;
  background-size:auto;
}


.services{
	background-color: #F17C72;
}

footer{
	background-color: #373b47;
}

h1{
  font-size: 40px;
  color: white;
  text-align: center;
}

h2{
  font-size: 20px;
  color: white;
  text-align: center;
}

.portada > div > p{font-size: 13px;
  color:white;
  text-align: center;
}











/*CLASES REUTILIZABLES*/
/** {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/*/
